<h3 class="center">About</h3>
<hr>
<h4>we are a website that shows stores and brands provided in various stores.<br> Different stores have different shoe brands and different brands have different stores</h4>
<hr>
<h4>We aim to make it easier for our users to store their shoe brands and the stores where the user bought the shoes from. </h4>