 @import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
 @import url('https://fonts.googleapis.com/css?family=Muli|Nunito|Raleway');
 body {
   font-size: 18px;

   font-family: 'Muli', sans-serif;

   font-family: 'Raleway', sans-serif;

   font-family: 'Nunito', sans-serif;
 }

 #index {
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https: //static.pexels.com/photos/341004/pexels-photo-341004.jpeg (11MB)) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: white;
 }

 a,
 a:focus {
   outline: none;
 }

 .submit-btn {
   text-align: center;
 }

 .input-field {
   width: 65%;
   margin: auto;
 }

 .margin-auto {
   margin: auto;
 }

 .menu-icon {
   margin-top: 10%;
   margin-bottom: 10%;
 }

 nav .brand-logo.center {

   font-family: 'Playfair Display SC',
   serif;
 }